@model ProjektLABDetailing.Models.ContactFormModel

@{
    ViewData["Title"] = "Kontakt";
}

<div class="Contact1">
    <p class="Question">MASZ JAKIEŚ PYTANIE?</p>
    <h1>NAPISZ DO NAS!</h1>

    @using (Html.BeginForm("SubmitContactForm", "Contact", FormMethod.Post))
    {
        <p>Imię i nazwisko</p>
        @Html.TextBoxFor(m => m.FullName, new { @class = "Contact2", placeholder = "Imię i nazwisko" })

        <p>Email</p>
        @Html.TextBoxFor(m => m.Email, new { @class = "Contact2", placeholder = "Email" })

        <p>Numer Telefonu</p>
        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "Contact2", placeholder = "Numer Telefonu" })

        <p>Wybierz usługę z listy:</p>
        @Html.DropDownListFor(m => m.SelectedService, new SelectList(new List<string> {
    "Mycie Detailingowe", "Regeneracja Lakieru", "Powłoka Ceramiczna",
    "Detailing Wnętrza", "Regeneracja Reflektorów", "Naklejanie Folii",
    "Zabezpieczenie Folią PPF(Full)", "Zabezpieczenie Folią PPF(Full Front)",
    "Zabezpieczenie Folią PPF(Front)", "Przyciemnianie Szyb"
    }), new { @class = "Wybierzzlisty" })

        <p>Treść Wiadomości</p>
        @Html.TextAreaFor(m => m.Message, new { @class = "Contact3", placeholder = "Treść Wiadomości" })

        <p>
            Wyrażam zgodę na przetwarzanie moich danych osobowych w celach marketingowych,<br />
            poprzez przesyłanie informacji handlowych za pomocą poczty elektronicznej, <br />
            na podany adres e-mail.
            @Html.CheckBoxFor(m => m.AcceptTerms)
        </p>

        <input type="submit" value="Wyślij" class="ButtonSendMessage" />

        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success">
                @ViewBag.Message
            </div>
        }

        @if (ViewBag.Errors != null && ViewBag.Errors.Count > 0)
        {
            <div class="alert alert-danger">
                <ul>
                    @foreach (var error in ViewBag.Errors)
                    {
                        <li>@error</li>
                    }
                </ul>
            </div>
        }
    }
</div>
