@model ProjektLABDetailing.Models.User.ViewModels.ChangeDataUserViewModel

@{
    ViewData["Title"] = "Zmiana Danych";
}

<head>
    <link rel="stylesheet" href="~/css/site.css">
    <title>Zmiana danych</title>
</head>
<body>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    @if (Model.CurrentUser != null)
    {
        <div class="ActualData">
            <center><h1>Aktualne Dane:</h1></center>
            <p>Imię: @Model.CurrentUser.FirstName</p>
            <p>Nazwisko: @Model.CurrentUser.LastName</p>
            <p>Telefon: @Model.CurrentUser.PhoneNumber</p>
            <p>Email: @Model.CurrentUser.Email</p>
        </div>
    }
    else
    {
        <p>Wystąpił błąd podczas ładowania danych użytkownika.</p>
    }

    <div class="Line3"></div>

    <div class="ChangingOldData">
        <center><h1>Zmiana Danych</h1></center>
        <div class="CDUButton">
            <a class="btn btn-primary" asp-action="ChangePassword">Zmień Hasło</a>
            <a class="btn btn-primary" asp-action="ChangeEmail">Zmień Email</a>
            <a class="btn btn-primary" asp-action="ChangePhoneNumber">Zmień Numer Telefonu</a>
        </div>
    </div>
</body>
