@model IEnumerable<ProjektLABDetailing.Models.OrderService>

@{
    ViewData["Title"] = "Twoja Historia Usług";
}

<div class="TablesClient">
    <table border="1" class="TableServicesHistory">
        <caption>
            <b>Twoja Historia Usług</b>
        </caption>
        <thead>
            <tr>
                <th>Data Zlecenia</th>
                <th>Samochód</th>
                <th>Cena</th>
                <th>Szczegóły</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var service in Model)
                {
                    <tr>
                        <td>@(service.ExecutionDate.HasValue ? service.ExecutionDate.Value.ToString("yyyy-MM-dd") : "N/A")</td>
                        <td>@service.Car?.Brand ?? "N/A" @service.Car?.Model ?? "N/A"</td>
                        <td>@service.Services.Sum(s => s.Price).ToString("C")</td>
                        <td>
                            <ul>
                                @foreach (var s in service.Services)
                                {
                                    <li>@s.Name</li>
                                }
                            </ul>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4">Brak danych usług</td>
                </tr>
            }
        </tbody>
    </table>
</div>
