@model ProjektLABDetailing.Models.ViewModels.AddServiceViewModel

@{
    ViewData["Title"] = "Edytuj Usługę";
}

<div class="TableServices">
    <h2>Edytuj Usługę</h2>
    <form id="addServiceForm" method="post" asp-action="EditService" onsubmit="return validateForm()">
        <input type="hidden" asp-for="OrderId" />
        <div class="ClientInfo">
            <h3>Informacje o kliencie</h3>
            <table border="1" class="TableInfo">
                <tr>
                    <td><b>Imię</b></td>
                    <td><b>Nazwisko</b></td>
                    <td><b>Email</b></td>
                    <td><b>Numer telefonu</b></td>
                </tr>
                <tr>
                    <td>
                        <input asp-for="FirstName" type="text" id="FirstName" />
                        <span class="text-danger" id="FirstNameError"></span>
                    </td>
                    <td>
                        <input asp-for="LastName" type="text" id="LastName" />
                        <span class="text-danger" id="LastNameError"></span>
                    </td>
                    <td>
                        <input asp-for="Email" type="text" id="Email" />
                        <span class="text-danger" id="EmailError"></span>
                    </td>
                    <td>
                        <input asp-for="PhoneNumber" type="text" id="PhoneNumber" />
                        <span class="text-danger" id="PhoneNumberError"></span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="CarInfo">
            <h3>Informacje o samochodzie</h3>
            <table border="1" class="TableInfo">
                <tr>
                    <td><b>Marka</b></td>
                    <td><b>Model</b></td>
                    <td><b>Rok</b></td>
                    <td><b>Kolor</b></td>
                    <td><b>VIN</b></td>
                    <td><b>Przebieg</b></td>
                </tr>
                <tr>
                    <td>
                        <input asp-for="Brand" type="text" id="Brand" />
                        <span class="text-danger" id="BrandError"></span>
                    </td>
                    <td>
                        <input asp-for="Model" type="text" id="Model" />
                        <span class="text-danger" id="ModelError"></span>
                    </td>
                    <td>
                        <input asp-for="Year" type="number" id="Year" />
                        <span class="text-danger" id="YearError"></span>
                    </td>
                    <td>
                        <input asp-for="Color" type="text" id="Color" />
                        <span class="text-danger" id="ColorError"></span>
                    </td>
                    <td>
                        <input asp-for="VIN" type="text" id="VIN" />
                        <span class="text-danger" id="VINError"></span>
                    </td>
                    <td>
                        <input asp-for="Mileage" type="number" id="Mileage" />
                        <span class="text-danger" id="MileageError"></span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="ServiceInfo">
            <h3>Szczegóły usługi</h3>
            <table border="1" class="TableInfo">
                <tr>
                    <td><b>Data</b></td>
                    <td><b>Usługa</b></td>
                    <td><b>Materiały</b></td>
                    <td><b>Uwagi dla klienta</b></td>
                </tr>
                <tr>
                    <td>
                        <input asp-for="ExecutionDate" type="date" id="ExecutionDate" />
                        <span class="text-danger" id="ExecutionDateError"></span>
                    </td>
                    <td>
                        <select asp-for="SelectedService" class="Wybierzzlisty" id="SelectedService">
                            <option value="">Wybierz</option>
                            @foreach (var service in Model.ServicesList)
                            {
                                <option value="@service.Value" @(service.Value == Model.SelectedService ? "selected" : "")>@service.Text</option>
                            }
                        </select>
                        <span class="text-danger" id="SelectedServiceError"></span>
                    </td>
                    <td>
                        <input asp-for="Materials" type="text" id="Materials" />
                        <span class="text-danger" id="MaterialsError"></span>
                    </td>
                    <td>
                        <input asp-for="ClientRemarks" type="text" id="ClientRemarks" />
                        <span class="text-danger" id="ClientRemarksError"></span>
                    </td>
                </tr>
            </table>
        </div>

        <div class="ButtonServicesAl">
            <a href="/Employee/Services" class="ButtonServices">Zapisz</a>
        </div>
    </form>
</div>

@if (ViewBag.Errors != null)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewBag.Errors)
            {
                <li>@error</li>
            }
        </ul>
    </div>
}

@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success">
        <p>@ViewBag.SuccessMessage</p>
    </div>
}

@section Scripts {
    <script src="~/js/ValidationAddService.js"></script>
}
