@model ProjektLABDetailing.Models.ViewModels.HistoryViewModel

<h2>Historia Zamówień</h2>

<div class="Tables">
    <div class="TableSection">
        <h3>Historia Zamówień Produktów</h3>
        <table border="1" class="TablesRight">
            <thead>
                <tr>
                    <th>Nr. Zamówienia</th>
                    <th>Data zamówienia</th>
                    <th>Email</th>
                    <th>Imię i Nazwisko</th>
                    <th>Szczegóły</th>
                    <th>Cena</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.OrderProducts != null && Model.OrderProducts.Count > 0)
                {
                    @foreach (var order in Model.OrderProducts)
                    {
                        <tr>
                            <td>@order.OrderId</td>
                            <td>@order.OrderDate.ToString("yyyy-MM-dd")</td>
                            <td>@order.Client?.User?.Email</td>
                            <td>@order.Client?.User?.FirstName  @order.Client?.User?.LastName</td>
                            <td><a href="/OrderProductsDetails/@order.OrderId">Szczegóły zamówienia</a></td>
                            <td>@(Model.OrderTotals.TryGetValue(order.OrderId, out var total) ? total.ToString("C") : "N/A")</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">Brak zamówień do wyświetlenia</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="TableSection">
        <h3>Historia Usług</h3>
        <table border="1" class="TablesLeft">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Klient</th>
                    <th>Samochód</th>
                    <th>Usługa</th>
                    <th>Materiały</th>
                    <th>Uwagi dla klienta</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.OrderServices != null && Model.OrderServices.Count > 0)
                {
                    @foreach (var service in Model.OrderServices)
                    {
                        <tr>
                            <td>@(service.ExecutionDate.HasValue ? service.ExecutionDate.Value.ToString("yyyy-MM-dd") : "N/A")</td>
                            <td>@service.Client?.User?.FirstName @service.Client?.User?.LastName</td>
                            <td>@service.Car?.Brand @service.Car?.Model</td>
                            <td>
                                <ul>
                                    @foreach (var s in service.Services)
                                    {
                                        @s.Name
                                    }
                                </ul>
                            </td>
                            <td>@service.Materials</td>
                            <td>@service.ClientRemarks</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">Brak usług do wyświetlenia</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
