@model IEnumerable<ProjektLABDetailing.Models.Product>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona Główna</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="LineAboveGallery"></div>

    <div class="Gallery">
        <img id="carImage1" src="~/Pictures/Audi.png" alt="Audi">
        <img id="carImage2" src="~/Pictures/Subaru.png" alt="Subaru" class="hidden">
        <img id="carImage3" src="~/Pictures/nissan.png" alt="Nissan" class="hidden">
    </div>

    <div class="AboutUs">
        <p>
            Niezwykła jakość, personalizowana opieka, innowacyjne podejście.<br /> Twój samochód zasługuje na perfekcję. Profesjonalizm od pierwszego <br />kontaktu do odbioru.
            Dbałość o szczegóły, nowoczesne  <br />rozwiązania - nasza pasja to doskonałość w detalach.
        </p>
    </div>

    <div class="LineAboveProducts"></div>

    <h1 class="OurProducts">Nasze produkty</h1>

    <div class="Produkty">
        @foreach (var product in Model)
        {
            <div class="ProductItem">
                <h1>@product.Name</h1>
                <img src="~/@product.ImgPath" alt="@product.Name" class="ProductImage" />
                <p>Cena: @product.Price.ToString("C")</p>
                <form class="add-to-cart-form">
                    @Html.AntiForgeryToken()
                    <button type="button" class="AddToCartButton" data-product-id="@product.ProductId">Dodaj do koszyka</button>
                </form>
            </div>
        }
    </div>

    <div class="Line2"></div>

    <div class="PPF">
        <div class="ppf1">
            <img src="~/Pictures/Full.png" alt="PPF Full" />
            <p>
                <b> Pakiet Full PPF </b> <br />to całościowe zabezpieczenie samochodu folią ochronną PPF.
                Gwarantuje całkowitą ochronę, nie tylko przed uszkodzeniami doznanymi w 
                trakcie jazdy, lecz także przed mechanicznymi urazami, oraz otarciami 
                parkingowymi. Aplikując folię ochronną na cały pojazd, nie musimy 
                się martwić o uszkodzenia powstające podczas eksploatacji. 
                Dzięki właściwościom folii ochronnej PPF auto przy odpowiedniej 
                pielęgnacji zachowa połysk, głębię koloru jak przy wyjeździe z salonu.</p>
                <br /><br />
                Cena: 15 000 zł
        </div>

        <div class="LinePPF1"></div>

        <div class="ppf2">
            <img src="~/Pictures/Half.png" alt="PPF Half" />
            <p>
                <b>Pakiet Full Front</b> <br /> to całkowite zabezpieczenie przedniej części
                auta folią ochronną PPF. Obejmuje on oklejenie: całej maski, przednich 
                błotników, przednich lamp, lusterek oraz przedniego zderzaka. Maska 
                auta przez swoją dużą powierzchnię jest bardzo często traktowana 
                reprezentacyjnie. Jej idealny stan jest kluczowy, aby auto wyglądało 
                jak nowe i utrzymywało swoją wartość.</p>
                <br /><br />
                Cena: 5500 zł
        </div>

        <div class="LinePPF1"></div>

        <div class="ppf3">
            <img src="~/Pictures/Front.png" alt="PPF Front" />
            <p> <b>Pakiet Front</b> <br />podstawowy pakiet ochronny folią ochronną PPF.
                Obejmuje on zabezpieczenie folią ochronną przedniego zderzaka, 
                reflektorów i lusterek – czyli miejsc, które są najbardziej narażone 
                na uszkodzenia mechaniczne. Pakiet Basic to podstawowa ochrona lakieru.
                Protekcję w większym zakresie gwarantuje wybór pakietów Full Front lub Full PPF</p>
                <br /><br />
                Cena: 2500 zł
        </div>
    </div>

    <div class="Individual">

        <h2><u><b>SKONFIGURUJ INDYWIDUALNE ZABEZPIECZENIE FOLIĄ PPF</b></u></h2>

        <img src="~/Pictures/individual.png" alt="Individual" />
        <p>
            Pakiet Individual pozwala na skonfigurowanie dowolnego zabezpieczenia auta foliami ochronnymi PPF.<br /> W celu ustalenia szczegółów wyceny aplikacji folii ochronnej PPF zapraszam do skontaktowania się z <a href="Contact"><u><b>Nami.</b></u></a>
            <br /><br />
            <u>Cena ustalana indywidualnie</u>
        </p>
    </div>


    <div class="Contact">
        <h1>Gdzie nas znaleźć?</h1>
        <div class="ContactContent">
            <div class="ContactData">
                <a>Telefon: 123 123 123</a><br />
                <a>Adres: Prószkowska 76,<br /> 45-758 Opole</a> <br />
                <a>NIP: 123 123 123</a>
            </div>
            <div class="Map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20230.46862020202!2d17.904003463028054!3d50.667814577628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471053bb1bcdafab%3A0xf2ef41915344d5dd!2sPolitechnika%20Opolska!5e0!3m2!1spl!2spl!4v1715792874181!5m2!1spl!2spl" class="Map" width="900" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <button class="backToTopBtn" id="backToTopBtn">Wróć do góry</button>

    <script src="~/js/site.js"></script>
</body>
</html>
