@model ProjektLABDetailing.Models.OrderProduct

@{
    ViewData["Title"] = "Podsumowanie zamówienia";
}

<h2>Podsumowanie Zamówienia</h2>

<div class="checkout">
    <p>Imię</p>
    <div class="checkout1">
        <input type="text" class="checkoutforms" placeholder="Imię"/>
    </div>

    <p>Nazwisko</p>
    <div class="checkout1">
        <input type="text" class="checkoutforms" placeholder="Nazwisko" />
    </div>

    <p>Adres E-Mail</p>
    <div class="checkout1">
        <input type="text" class="checkoutforms" placeholder="E-mail" />
    </div>

    <p>Numer Telefonu</p>
    <div class="checkout1">
        <input type="text" class="checkoutforms" placeholder="Numer Telefonu" />
    </div>

    <p>Adres</p>
    <div class="checkout1">
        <input type="text" class="checkoutforms" placeholder="Adres" />
    </div>

    <p>Miasto</p>
    <div class="checkout1">
        <input type="text" class="checkoutforms" placeholder="Miasto" />
    </div>

    <p>Kod Pocztowy</p>
    <div class="checkout1">
        <input type="text" class="checkoutforms" placeholder="Kod Pocztowy" />
    </div>

    <p>Metoda Płatności</p>
    <div class="checkout1">
        <select class="Platnosci" id="Platnosci" name="MetodaPlatnosci">
            <optgroup label="Wybierz">
                <option value="Wybierz">Wybierz</option>
                <option value="Przelewy">Przelewy 24</option>
                <option value="Visa">Visa</option>
                <option value="PayPall">PayPall</option>
                <option value="Blik">Blik</option>
                <option value="Mastercard">mastercard</option>
                <option value="GotowkaPrzyOdbiorze">Gotówka przy odbiorze</option>
                <option value="BankowoscOnline">Bankowość Online</option>
            </optgroup>
        </select>
    </div>


    
    <p>Sposób dostawy</p>
    <div class="checkout1">
        <select class="Dostawa" id="Dostawa" name="MetodaDostawy">
            <optgroup label="Wybierz">
                <option value="Wybierz">Wybierz</option>
                <option value="Kurier">Kurier - od 17.99 zł</option>
                <option value="OdbiorNaMiejscu">Odbiór na miejscu</option>
                <option value="InPost">InPost Paczkomat 24/7 od 10,99 zł</option>
            </optgroup>
        </select>
    </div>

    <p>Cena</p>
    <div class="checkout1">
        <input type="text" class="checkoutforms" />
    </div>
</div>

<div class="ProductsCheckout">
    <h3>Produkty</h3>
    <table class="tablecheckout">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Ilość</th>
                <th>Cena</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Quantity</td>
                    <td>@item.Price.ToString("c")</td>
                </tr>
                <input type="hidden" name="CartItems[@item.ProductId].ProductId" value="@item.ProductId" />
                <input type="hidden" name="CartItems[@item.ProductId].ProductName" value="@item.ProductName" />
                <input type="hidden" name="CartItems[@item.ProductId].Quantity" value="@item.Quantity" />
                <input type="hidden" name="CartItems[@item.ProductId].Price" value="@item.Price" />
            }
        </tbody>
    </table>


    <button type="submit" class="btn btn-primary">Złóż zamówienie</button>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
