@model ProjektLABDetailing.Models.OrderProduct

@{
    ViewData["Title"] = "Podsumowanie zamówienia";
}

<h2 class="summary-title">Podsumowanie Zamówienia</h2>

@using (Html.BeginForm("Checkout", "Cart", FormMethod.Post))
{
    <div class="checkout">
        <div class="form-group">
            <label for="FirstName">Imię<br /></label>
            <input asp-for="FirstName" class="form-control" placeholder="Imię" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="LastName">Nazwisko<br /></label>
            <input asp-for="LastName" class="form-control" placeholder="Nazwisko" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="Email">Adres E-Mail<br /></label>
            <input asp-for="Email" class="form-control" placeholder="E-mail" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="PhoneNumber">Numer Telefonu<br /></label>
            <input asp-for="PhoneNumber" class="form-control" placeholder="Numer Telefonu" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="Address">Adres<br /></label>
            <input asp-for="Address" class="form-control" placeholder="Adres" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="City">Miasto<br /></label>
            <input asp-for="City" class="form-control" placeholder="Miasto" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="PostalCode">Kod Pocztowy<br /></label>
            <input asp-for="PostalCode" class="form-control" placeholder="Kod Pocztowy" />
            <span asp-validation-for="PostalCode" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="PaymentMethod">Metoda Płatności<br /></label>
            <select asp-for="PaymentMethod" class="form-control">
                <option value="">Wybierz</option>
                <option value="Przelewy">Przelewy 24</option>
                <option value="Visa">Visa</option>
                <option value="PayPal">PayPal</option>
                <option value="Blik">Blik</option>
                <option value="Mastercard">Mastercard</option>
                <option value="GotowkaPrzyOdbiorze">Gotówka przy odbiorze</option>
                <option value="BankowoscOnline">Bankowość Online</option>
            </select>
            <span asp-validation-for="PaymentMethod" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="DeliveryMethod">Sposób dostawy<br /></label>
            <select asp-for="DeliveryMethod" class="form-control">
                <option value="">Wybierz</option>
                <option value="Kurier">Kurier - od 17.99 zł</option>
                <option value="OdbiorNaMiejscu">Odbiór na miejscu</option>
                <option value="InPost">InPost Paczkomat 24/7 od 10,99 zł</option>
            </select>
            <span asp-validation-for="DeliveryMethod" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Cena całkowita<br /></label>
            <input type="text" class="form-control" value="@Model.TotalPrice.ToString("c")" readonly />
        </div>
    </div>

    <div class="ProductsCheckout">
        <h3>Produkty</h3>
        <table class="table tablecheckout">
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Ilość</th>
                    <th>Cena</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CartItems)
                {
                    <tr>
                        <td>@item.ProductName</td>
                        <td>@item.Quantity</td>
                        <td>@item.Price.ToString("c")</td>
                    </tr>
                    <input type="hidden" name="CartItems[@item.ProductId].ProductId" value="@item.ProductId" />
                    <input type="hidden" name="CartItems[@item.ProductId].ProductName" value="@item.ProductName" />
                    <input type="hidden" name="CartItems[@item.ProductId].Quantity" value="@item.Quantity" />
                    <input type="hidden" name="CartItems[@item.ProductId].Price" value="@item.Price" />
                }
            </tbody>
        </table>

        <button type="submit" class="btn btn-primary checkout-button">Złóż zamówienie</button>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
